@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #f7e89d;
}
#audioPlayer {
  width: 1000px;
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Style for the Play button */
#playButton {
  width: 200px;
  height: 80px;
  background-color: #008b00;
  color: white;
  padding: 10px 20px;
  border: none; 
  cursor: pointer; 
  position:absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style for the Pause button */
#pauseButton {
  width: 200px;
  height: 80px;
  background-color: #e72400; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  cursor: pointer; 
  position:absolute;
  top: 90%;
  left: 36.5%;
  transform: translate(-50%, -50%);
}

/* Style for the Skip button */
#skipButton {
  width: 200px;
  height: 80px;
  background-color: #007aca; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  cursor: pointer; 
  position:absolute;
  top: 90%;
  left: 63.5%;
  transform: translate(-50%, -50%);
}

/* Style for the Go Back button */
#goBackButton {
  width: 200px;
  height: 80px;
  background-color: #ad6500; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  cursor: pointer; 
  position:absolute;
  top: 90%;
  left: 23%;
  transform: translate(-50%, -50%);
}
#playlistButton {
  width: 200px;
  height: 80px;
  background-color: #aa6264; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  cursor: pointer; 
  position:absolute;
  top: 90%;
  left: 77%;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: large;
}
#audioPlayer {
  display: block;
  margin: 0 auto;
}